<?xml version="1.0" encoding="UTF-8"?>
<!-- 添加 DUBBO SCHEMA -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 应用名 -->
    <dubbo:application name="dubbo-provider"/>
    <!-- 连接到哪个本地注册中心 -->
    <dubbo:registry protocol="zookeeper" address="116.196.81.252:2181"/>

    <!-- 协议配置，用于配置提供服务的协议信息，协议由提供方指定，消费方被动接受  -->
    <dubbo:protocol name="dubbo" server="netty" port="20881" serialization="hessian2" />
    <!-- 监控中心配置，protocol="registry"，表示从注册中心发现监控中心地址
 <dubbo:monitor protocol="registry"/>
 -->
    <!-- 当ProtocolConfig和ServiceConfig某属性没有配置时,采用此缺省值 -->
    <dubbo:provider timeout="30000" threadpool="fixed" threads="100" accepts="1000" />
    <!-- 声明需要暴露的服务接口 -->
    <bean id = "userService" class="com.skywalker.provider.service.user.UserServiceImpl"/>
    <dubbo:service timeout="60000"
                   interface="com.skywalker.api.service.user.UserService"
                   ref="userService"/>

</beans>